@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400&family=Roboto:wght@300;400;500;700&display=swap');
:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  --first-color: #fff;
  --text-color: #333;
  --main-color: #53a6d8;
  --sub-color: #ccd123;
  --bg-color: #eee;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  color: var(--black);
}
body {
  background-color: #eee;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 61.5rem;
  padding: 20px 0;
}

.thanhk-text {
  color: var(--sub-color);
  font-size: 2rem;
  font-style: italic;
  font-family: 'Dancing Script', cursive;
}
.title-tour {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 10px 0;
}

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  /* height: 320px; */
  font-size: 1.4rem;
  margin: auto;
  max-width: 100%;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  overflow-x: auto;
}

th {
  color: var(--black);
  background: var(--main-color);
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 1.6rem;
  font-weight: 100;
  padding: 5px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom-: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 1.6rem;
  font-weight: normal;
}

tr:hover td {
  background: var(--main-color);
  color: #ffffff;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #ebebeb;
}

tr:nth-child(odd):hover td {
  background: var(--main-color);
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #ffffff;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
  border-right: 1px solid #c1c3d1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

td.text-left {
  text-align: left;
}

.title-chitiet {
  font-size: 1.8rem;
  margin-top: 20px;
  font-weight: 700;
  border-bottom: 2px solid var(--black);
}
i + span {
  padding-left: 5px;
}
.corporation{
    font-family: 'Dancing Script', cursive;
    margin-top: 20px;
    font-size: 2.5rem;
    text-align: center;
}
.wrapper span{
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
